.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.link{
color:yellow;
font-size: 300%;
}

#NewMatchLink{
color: "grey";
margin: 300;
text-decoration-line: 'none';
font-size: 28;
font-family: "Georgia";
position: "relative";
top:40
}

#Matched{
font-family: "Georgia";
position:absolute;
width: 100;
text-align: "center";
font-size: 400;

}

.labelForm{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-size: 20px;
}

.top-row {
  background-color: rgb(146, 146, 255);
  color: white;
  font-size: 40px;

}

#table {
  margin-bottom: 10px;
  width: 100%;
}

#t-cont {
  width: 90%;
  margin: 1%
}

#heading {
  font-size: 400%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#body-text {
  font-size: 150%;
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav-bar {
  margin: 5%;
   color: grey;
   font-size: 150%;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;
   padding: 4%;
}

#text {
  font-size: 200%;
  margin: 7%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#center-text {
  font-size: 200%;
  margin: 4%;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#button-style {
  margin: 7%;
  padding: 2%;
  color: white;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

#button-style2 {
  margin: 3%;
  padding: 1%;
  color: black;
  position: center;
 

}

.button-div {
  position: relative;
  top: 30px;
  left: 15%;
}


.navbar-container {
    width: 100%;
    height:80px;
    background-color: rgb(146, 146, 255);
    display: flex;
    padding: 1%;
    flex-direction: column;
}

.nav-link{
    color:white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 10px;
    padding: 5%;
    position: relative;
   }

  .nav-link:hover {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 10px;
    color: rgb(192, 192, 192);
   }

#button-row {
  display: flex;
  position: relative;
  top: -70px;
  width: 50%;
  padding: 5%;
  margin: 2%;
}

#circ-item{
  margin: 11%;
  padding: 11%;
  text-align: center;
  background-color:rgb(146, 146, 255);
  border-radius: 80%;
  width: 200px;
  height: 70px;

}

#icon-img {
  width: 60px;
  height: 60%;
  margin: 2%
}

#form-module{
  background-color: rgb(146, 146, 255);
  width: 75%;
  position: relative;
  left: 200px;
  padding-top: 0px;
  color: white;
  font-size: 40;
  border-radius: 10%;
}

#logout {
  width:100;
  height:50;
  margin: 10%;
  display: inline;


}

#emailID {
  position: relative;
  left: 75%;
  margin: 2%;
  display: inline;
}